@model Piedone.HelpfulExtensions.CodeGeneration.ContentTypeMigrationsViewModel

@{
    Script.Require("jQuery").AtFoot();
    Script.Include(Url.Content("~/Themes/TheAdmin/Scripts/admin.js")).AtFoot();
}

<fieldset id="piedone-helpful-extensions-content-type-migration-container">
    <legend>@T("Content type code generation")</legend>
    <div>
        @Html.Hint(T("Migration for all the referenced fields and parts are generated; only take what you need."))
        <pre>@Model.MigrationCode</pre>
    </div>
</fieldset>

@using (Script.Foot())
{
    <script type="text/javascript">
        (function ($) {
            $(function () {
                $container = $("#hosting-multi-tenancy-raw-shell-settings-editor-container");

                $("#piedone-helpful-extensions-content-type-migration-container").find("legend")
                    .expandoControl(function (controller) { return controller.next("div"); }, { collapse: true, remember: true });
            });
        })(jQuery);
    </script>
}