@model Lombiq.HelpfulExtensions.Extensions.ContentSets.ViewModels.ContentSetPartViewModel

@if (Model.ContentSetPart.Key != null)
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@T["Content set type and key"]">
        <i class="fa-solid fa-ellipsis" aria-hidden="true"></i>
        @T[Model.DisplayName]: @Model.ContentSetPart.Key
    </span>
}
